$border-color: 2px solid black;

.container {
  padding: 20px;
  border: $border-color;
  border-radius: 15px;

  &__title {
    padding: 0.25em 0.5em;
    border-left: solid 10px blue;
    font-size: 20px;
  }
}

.question {
  padding: 20px;
  margin: 20px;
  border: $border-color;
  border-radius: 10px;
  background-color: white;
  font-size: 20px;
  box-shadow: 3px 3px rgba(126, 130, 143, 0.8);
  white-space: pre-wrap;

  span {
    padding: 1px;
  }
}

.section {
  margin: 0px 20px;

  &__textarea {
    width: 100%;
    border: 0;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    outline: none;
  }
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  border: $border-color;
  border-radius: 10px;
  font-size: 20px;

  &__dataname {
    margin: 20px;
    font-size: 25px;
    font-weight: bold;
  }

  &__data {
    margin-right: 10px;
  }
}
