.userpage {
  &__title {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    &__logo {
      padding-right: 10px;
      position: relative;
      top: 3px;
    }

    &__user {
      padding-right: 5px;
    }

    &__content {
      font-size: 25px;
      font-weight: normal;
    }
  }

  &__data {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: 0;
    border-radius: 15px;
    background-color: white;
    &__logo {
      position: relative;
      top: 3px;
    }
    &__item {
      margin-bottom: 3px;
    }
    &__title {
      font-weight: bold;
    }
  }

  &__setting {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: 0;
    border-radius: 15px;
    background-color: white;

    &__item {
      margin: 10px;
    }

    &__logo {
      position: relative;
      top: 2px;
    }
    &__title {
      font-weight: bold;
      font-size: 20px;
      margin-right: 10px;
    }
    button {
      color: whitesmoke;
      border: none;
      border-radius: 4px;
      padding: 10px;
      background-color: #333;
      text-decoration: none;
      font-size: 15px;
      cursor: pointer;
      margin-top: 10px;
    }
  }
}

.history {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border: 0;
  border-radius: 15px;
  background-color: white;

  &__content {
    padding: 7px;
  }
  &__data {
    padding-right: 10px;

    &__title {
      font-weight: bold;
      font-size: large;
    }
    &__item {
      font-weight: normal;
    }
  }

  .sentence {
    padding: 0.25em 0.5em;
    font-weight: bold;
    font-size: 18px;
    border-left: solid 7px #8878ad;
  }

  .paragraph {
    padding: 0.25em 0.5em;
    font-weight: bold;
    font-size: 18px;
    border-left: solid 7px #18082a;
  }
}

.save_btn:after {
  display: block;
  content: '';
  border-bottom: solid 1px whitesmoke;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.save_btn:hover:after {
  transform: scaleX(1);
}

label {
  margin-right: 10px;
}

.message {
  padding: 20px 20px;
  font-size: large;
}

.move_back {
  margin-top: 10px;
  margin-left: 10px;
  a {
    font-weight: bold;
    font-size: 20px;
    display: inline;
    color: #452e5d;
    text-decoration: none;

    &:hover {
      color: lighten(#452e5d, 10%);
      text-decoration: none;
      border: rgba(140, 89, 185, 0.3) solid;
      border-width: 0 0 6px 0;
    }
  }
}
