.userpage {
  &__info {
    &__title {
      display: block;
      font-size: 1.17em;
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 0;
      margin-right: 0;
      font-weight: bold;
    }
    &__item {
      padding-top: 5px;
      padding-left: 10px;
      font-weight: normal;
    }
  }

  &__setting {
    &__title {
      display: block;
      font-size: 1.17em;
      margin-top: 1em;
      margin-left: 0;
      margin-right: 0;
      font-weight: bold;
    }

    &__item {
      padding-top: 5px;
      padding-left: 10px;
      font-weight: normal;
    }
  }
}
