.container {
  border: 2px solid black;
  border-radius: 15px;
  padding: 20px;
  &__title {
    padding: 0.25em 0.5em;
    color: black;
    background: transparent;
    border-left: solid 10px #843253;
  }
}

.question {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  &__character {
    border: 0;
    border-radius: 15px;
    background-color: white;
    outline: none;
    width: 50%;
    height: 60px;
    font-size: 40px;
    font-weight: bold;
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  padding-bottom: 20px;
  &__input {
    border: 0;
    border-radius: 15px;
    background-color: rgb(233, 233, 233);
    outline: none;
    width: 50%;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
}

.result {
  padding: 20px;
  justify-content: center;
  display: flex;

  &__data {
    display: flex;
    text-align: center;
  }

  &__list {
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    float: left;
    padding-right: 20px;
  }
  .data_name {
    font-weight: bold;
    font-size: 30px;
    padding-right: 20px;
  }
  .data {
    font-weight: normal;
    font-size: 20px;
  }
}

.currentSpan {
  border-bottom: 5px solid lightseagreen;
}
