@mixin button-bg($bg) {
  background: $bg;
}

h3:after {
  display: block;
  content: '';
  border-bottom: solid 2px gray;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
h3:hover:after {
  transform: scaleX(1);
}

.btn {
  color: gray;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  font-family: 'Poppins';
  font-size: 15px;
  cursor: pointer;

  &__content {
    @include button-bg(#dff2fa);
  }
}
