.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 10px;
}

.keyboard {
  max-width: 1008px;
  width: 100%;
  background-color: #e7e7e7;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  order: 2;

  &__row {
    display: flex;
  }

  &__keys {
    width: 60px;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    transition: 0.2s;
  }

  .active {
    background-color: #333;
    color: #fff;
  }

  .backspace_key {
    width: 120px;
  }

  .tab_key {
    width: 90px;
  }

  .slash_key {
    width: 90px;
  }

  .caps_lock_key {
    width: 128px;
  }

  .enter_key {
    width: 124px;
  }

  .shift_key {
    width: 120px;
  }

  .shift_right {
    width: 190px;
  }

  .space_key {
    max-width: 600px;
    width: 100%;
  }
}
