.menu {
  padding: 0;
  a {
    color: lighten(whitesmoke, 20%);
    text-decoration: none;
    font-size: large;

    &:hover {
      color: lighten(whitesmoke, 10%);
      text-decoration: underline;
    }

    &:active {
      color: #5c49a7;
    }
  }
  &__item {
    padding: 20px 20px;
    list-style-type: none;
    transition: background-color 200ms;

    &:hover {
      background-color: darken(#5c49a7, 20%);
    }
  }
}

.message {
  padding: 20px 20px;
  color: whitesmoke;
  font-size: large;
  font-weight: bold;
}

.userInfo {
  &__List {
    padding: 20px 20px;
    color: whitesmoke;
    background: #452e5d;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
  }
  &__name {
    font-weight: bold;
    font-size: larger;
  }
}

.gameover {
  &__btn {
    padding-top: 20px;
    justify-content: center;
    display: flex;
  }
}
