.modal {
  &__background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
  }
  &__box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px whitesmoke;
    width: 300px;
    height: 300px;
  }
  &__content {
    padding: 30px;
    color: black;
    text-align: center;
  }
  &__closeModalBtn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
    border: white;
  }
}
