.topbar {
  &__wrapper {
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5c49a7;
  }
  &__logo {
    font-weight: bold;
    font-size: 30px;
    color: whitesmoke;
    cursor: pointer;
  }
  &__right {
    display: flex;
  }
}
