.topbar {
  &__wrapper {
    height: 80px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dff2fa;
  }
  &__logo {
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
  }
  &__right {
    display: flex;
  }
}
