* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  line-height: 1.5;
  user-select: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', 'sans-serif';
  overflow: auto;
  background: rgb(240, 244, 248);
}

.app {
  display: flex;
  overflow-y: auto;
  &__sidebar {
    flex: 0 0 280px;
    background-color: #5c49a7;
    height: 100vh;
  }

  &__content {
    flex: 1;
    padding: 30px;
  }
}

.selectPracticeLang {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.correct {
  color: #1fbd83;
}

.wrong {
  color: hotpink;
}

.currentSpan {
  border-bottom: 5px solid lightseagreen;
}
