* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  line-height: 1.5;
  user-select: none;
}
body {
  margin: 0;
}

.app {
  display: flex;
  min-height: 100vh;

  &__sidebar {
    flex: 0 0 240px;
    background-color: #dff2fa;
  }

  &__content {
    flex: 1;
    padding: 40px;
  }
}
